﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Sistema de identificación de usuarios ECP/ICP </h1>
    <p class="lead">El EcoQRmanager es una aplicación para el registro e identificación de usuarios que ingresan a las instalaciones del ECP/ICP.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> Mas info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Información institucional</h2>
        <p>Visite la página oficial de ECOPETROL S.A.</p>
        <p><a class="btn btn-default" href="https://www.ecopetrol.com.co/wps/portal/es">Mas info &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Información de interes COVID-19 </h2>
        <p>Obtenga información reciente del COVID-19.</p>
        <p><a class="btn btn-default" href="https://www.ecopetrol.com.co/wps/portal/es">Mas info &raquo;</a></p>
    </div>
</div>